---
BasedOnStyle:  Mozilla
AlignConsecutiveAssignments: false
AlignEscapedNewlines: DontAlign
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AccessModifierOffset: -2
BraceWrapping:   
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   false
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: true
BreakBeforeBraces: Custom
BreakBeforeBinaryOperators: None
BreakBeforeInheritanceComma: false
BreakBeforeTernaryOperators: true
BreakConstructorInitializersBeforeComma: false
BreakConstructorInitializers: AfterColon
BreakStringLiterals: true
ColumnLimit:     160
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
IndentCaseLabels: false
IndentWidth:     2
PointerAlignment: Right
ReflowComments:  false 
SortIncludes:    false 
SortUsingDeclarations: false   
SpaceAfterCStyleCast: true
SpacesBeforeTrailingComments: 4
Standard:        Cpp03
TabWidth: 8
UseTab: Always
...

