Source: swig1.3
Section: interpreters
Priority: optional
Maintainer: Matthias Koeppe <mkoeppe@mail.math.uni-magdeburg.de>
Build-Depends: debhelper (>> 3.0.0), libguile-dev, python-dev, perl,
 ruby-dev, ruby, tcl8.0-dev
Standards-Version: 3.5.2

Package: swig1.3
Architecture: any
Depends: ${shlibs:Depends}
Description: Generate scripting interfaces to C/C++ code
 SWIG (Simplified Wrapper and Interface Generator) is a system for
 automatically generating wrapper/glue code for several languages
 (Tcl, Python, Perl, Ruby, MzScheme, Guile, Java) from annotated C or
 C++ header files.
 This package represents some point in the SWIG 1.3 development
 series. It is not fully compatible with the SWIG 1.1 release.
