Language: Cpp
BasedOnStyle: Google
AlignArrayOfStructures: Left
AlignTrailingComments: true
AccessModifierOffset: -2
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: false
BreakConstructorInitializers: AfterColon
ColumnLimit: 160
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
DerivePointerAlignment: false
IndentCaseBlocks: true
IndentCaseLabels: false
IndentGotoLabels: false
KeepEmptyLinesAtTheStartOfBlocks: true
PackConstructorInitializers: CurrentLine
PointerAlignment: Right
SortIncludes: Never
