name: CI

# Hardened permissions. Do not request any other permissions other than reading the repo
# https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs#defining-access-for-the-github_token-scopes
permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
    inputs:
      run-base:
        description: Run toolchain tests
        type: boolean
        default: false
        required: false
      run-all-langs:
        description: Run all languages
        type: boolean
        default: false
        required: false
      run-langs:
        description: Run specific languages
        type: string
        required: false

jobs:
  get-variants:
    # Parse the `fmf ls` in /Lib to construct toolchain and language variants
    uses: ./.github/workflows/step_get-variants.yml
  get-changed-files:
    needs: [ get-variants ]
    uses: ./.github/workflows/step_change-detection.yml
    with:
      languages: ${{ needs.get-variants.outputs.languages }}
  test-toolchains:
    needs: [ get-variants, get-changed-files ]
    name: "Run base Swig tests: ${{ matrix.toolchain }}"
    uses: ./.github/workflows/step_toolchain-test.yml
    # Each toolchain is the endpoint /toolchain/* from `fmf ls`
    # Internal toolchain matrix is defined in the /Lib/toolchains.fmf
    strategy:
      fail-fast: false
      matrix:
        toolchain: ${{ fromJSON(needs.get-variants.outputs.toolchains) }}
    with:
      toolchain: ${{ matrix.toolchain }}
    if: |
      inputs.run-base ||
      needs.get-changed-files.outputs.base_changed == 'true'
  test-lang:
    needs: [ get-changed-files, get-variants, test-toolchains ]
    name: "Run language tests: ${{ matrix.lang }}"
    uses: ./.github/workflows/step_lang-test.yml
    # Each language is the endpoint /* from `fmf ls`
    # Internal language matrix is defined in the corresponding /Lib/${lang}/main.fmf
    strategy:
      fail-fast: false
      matrix:
        # Use all languages if base_changed, otherwise use only langs from get-changed-files
        lang: ${{ ((inputs.run-all-langs || needs.test-toolchains.result == 'success') && fromJSON(needs.get-variants.outputs.languages)) || (inputs.run-langs && fromJSON(inputs.run-langs)) || fromJSON(needs.get-changed-files.outputs.langs) }}
    with:
      lang: ${{ matrix.lang }}
    # Wait for test-toolchains to finish, then run if either base_changed or if get-changed-files has languages
    # Note: always() makes the job un-cancellable
    # https://github.com/orgs/community/discussions/26303
    if: |
      !cancelled() &&
      ((inputs.run-langs || inputs.run-all-langs || success()) ||
      (needs.test-toolchains.result == 'skipped' && needs.get-changed-files.outputs.langs != '[]' && needs.get-changed-files.outputs.langs != ''))
  test-nugget:
    needs: [ get-variants, get-changed-files ]
    uses: ./.github/workflows/step_nuget.yml
    if: false
