name: linux-cmake

on:
  push:
    paths-ignore:
      - 'CHANGES*'
      - 'Doc/**'
      - 'Tools/CI-linux-*'
      - 'Tools/GHA-linux-*'
      - 'appveyor.yml'
  pull_request:
    branches: master
    paths-ignore:
      - 'CHANGES*'
      - 'Doc/**'
      - 'Tools/CI-linux-*'
      - 'Tools/GHA-linux-*'
      - 'appveyor.yml'

permissions:
  contents: read

jobs:
  cmake:
    runs-on: ${{ matrix.os }}

    name: CMake ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]

    env:
      SWIG_INSTALL_PREFIX: '${{ github.workspace }}/install'

    steps:
    - name: Machine Info
      run: |
          echo "nproc..."
          nproc --all
          echo "uname..."
          uname --all
          echo "meminfo..."
          cat /proc/meminfo
          echo "lsb-release..."
          cat /etc/lsb-release

    - name: Checkout
      uses: actions/checkout@v4
      with:
        show-progress: false

    - name: Install Dependencies
      run: |
          sudo apt install libpcre2-dev

    - name: Configure
      run: |
          cmake --version
          cmake -S . -B build \
            -DCMAKE_INSTALL_PREFIX=$SWIG_INSTALL_PREFIX \
            -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build build -j

    - name: Test
      run: ctest --test-dir build -V --output-on-failure

    - name: Install
      run: |
          cmake --install build
          $SWIG_INSTALL_PREFIX/bin/swig -version
