name: windows-cmake

on:
  push:
    paths-ignore:
      - 'CHANGES*'
      - 'Doc/**'
      - 'Tools/CI-linux-*'
      - 'Tools/GHA-linux-*'
      - 'appveyor.yml'
  pull_request:
    branches: master
    paths-ignore:
      - 'CHANGES*'
      - 'Doc/**'
      - 'Tools/CI-linux-*'
      - 'Tools/GHA-linux-*'
      - 'appveyor.yml'

permissions:
  contents: read

jobs:
  cmake:
    runs-on: ${{ matrix.os }}

    name: CMake VS ${{ matrix.VER }}

    strategy:
      matrix:
        include:
        - VER: '17 2022'
          os: 'windows-2025'

    env:
      # CMake generator used
      CMAKE_GENERATOR: Visual Studio ${{ matrix.VER }}

    steps:
    - name: Machine Info
      shell: powershell
      run: |
          systeminfo | findstr /B /C:"OS Name" /B /C:"OS Version"

    - name: Checkout
      uses: actions/checkout@v4
      with:
        # if fetch-depth is 0 or >1 progress output will clutter the log
        show-progress: false

    - name: Install CCache
      uses: hendrikmuhs/ccache-action@v1
      with:
        key: ${{ matrix.os }}

    # note: NuGet packages a static version of PCRE2 that assumes a
    # statically-linked non-debug C runtime library (e.g. compiling with /MT).
    # see https://learn.microsoft.com/en-us/cpp/c-runtime-library/crt-library-features?view=msvc-170
    - name: Install NuGet Packages
      shell: powershell
      run: |
          nuget install PCRE2 -OutputDirectory C:\Tools
          nuget install Bison -OutputDirectory C:\Tools

    # https://cygwin.com/cygwin-ug-net/cygpath.html
    - name: Prepare Environment
      shell: bash
      run: |
          cat << EOF >> $GITHUB_ENV
          PCRE2_PATH=$(cygpath -w "$(ls -d /C/Tools/PCRE2*)")
          EOF
          BISON_PATH=$(cygpath -w "$(ls -d /C/Tools/Bison*)/bin")
          echo "$BISON_PATH" >> $GITHUB_PATH

    - name: Configure
      shell: powershell
      # note: use CMAKE_MSVC_RUNTIME_LIBRARY to use static C runtimes. this is
      # specifically due to the static non-debug C runtime used by NuGet PCRE2.
      # if using /NODEFAULTLIB, you need /NODEFAULTLIB:MSVCRT when building the
      # release configs and /NODEFAULTLIB:MSVCRTD for the debug config
      run: |
          cmake --version
          cmake -S . -B . -G "$env:CMAKE_GENERATOR" -A x64 `
          -DCMAKE_INSTALL_PREFIX="C:\Tools\swig" `
          -DCMAKE_C_FLAGS="/W3 /EHsc" `
          -DCMAKE_CXX_FLAGS="/W3 /EHsc" `
          -DCMAKE_MSVC_RUNTIME_LIBRARY="MultiThreaded$<$<CONFIG:Debug>:Debug>" `
          -DPCRE2_ROOT="$env:PCRE2_PATH" `
          -DPCRE2_USE_STATIC_LIBS=ON

    - name: Build
      shell: powershell
      run: |
          cmake --build . --config Release

    - name: Test
      shell: powershell
      run: |
          ctest --output-on-failure -V -C Release

    - name: Install
      shell: powershell
      run: |
          cmake --install .
          C:\Tools\swig\bin\swig.exe -version
